<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>CFBundleName</key>
		<string>Ptimer</string>
		<key>CFBundleIdentifier</key>
		<string>com.github.pocka.ptimer</string>
		<key>CFBundleVersion</key>
		<string>0.0.1</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleExecutable</key>
		<string>ptimer</string>
		<key>UTExportedTypeDeclarations</key>
		<array>
			<dict>
				<key>UTTypeConformsTo</key>
				<array>
					<string>public.data</string>
					<string>public.database</string>
				</array>
				<key>UTTypeDescription</key>
				<string>Timer program definition file.</string>
				<key>UTTypeIdentifier</key>
				<string>com.github.pocka.ptimer.ptimer</string>
				<key>UTTypeTagSpecification</key>
				<dict>
					<key>public.filename-extension</key>
					<array>
						<string>ptimer</string>
					</array>
				</dict>
			</dict>
		</array>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeName</key>
				<string>Ptimer file</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>com.github.pocka.ptimer.ptimer</string>
				</array>
			</dict>
		</array>
		<key>NSHumanReadableCopyright</key>
		<string>Copyright 2024 Shota FUJI. Licensed under Apache-2.0 license.</string>
	</dict>
</plist>
