/*
SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>

SPDX-License-Identifier: Apache-2.0
*/

.layout {
	position: absolute;
	inset: 0;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: minmax(0, 1fr) max-content;
	grid-template-areas: "body" "menu";
}

.menu {
	grid-area: menu;
}

.body {
	grid-area: body;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}

.code {
	font-family: var(--font-mono);
}

.logs-container {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	padding: 12px;
}

.logs {
	width: 100%;
	max-width: 60rem;
	padding: 4px 8px;
	border: 1px solid oklch(var(--color-border) / var(--alpha-border-subtle));

	background-color: oklch(var(--color-bg1));
	border-radius: 3px;
	overflow-y: scroll;
}
.logs:focus-visible {
	border-color: oklch(var(--color-focus));
	box-shadow: 0 0 0 var(--length-focus-ring) oklch(var(--color-focus) / var(--alpha-focus-ring));
}

@media (orientation: landscape) {
	.layout {
		grid-template-columns: max-content minmax(0, 1fr);
		grid-template-rows: 100%;
		grid-template-areas: "menu body";
	}
}
