/*
SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>

SPDX-License-Identifier: Apache-2.0
*/

.container {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	padding: 12px;
}

.logs {
	width: 100%;
	max-width: 60rem;
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 4px 8px;
	border: 1px solid oklch(var(--color-border) / var(--alpha-border-subtle));
	font-family: var(--font-mono);

	background-color: oklch(var(--color-bg1));
	border-radius: 3px;
	overflow-y: scroll;
}
.logs:focus-visible {
	border-color: oklch(var(--color-focus));
	box-shadow: 0 0 0 var(--length-focus-ring) oklch(var(--color-focus) / var(--alpha-focus-ring));
}

.log {
	display: grid;
	grid-template-areas:
		"severity datetime"
		"message message";
	grid-template-columns: max-content minmax(0, 1fr);
	align-items: center;
	gap: 0px 1rem;
	font-size: 0.8rem;
}

.log-datetime {
	grid-area: datetime;
	opacity: 0.9;
}

.log-severity {
	grid-area: severity;
	font-weight: bold;
}

.log-debug {
	color: oklch(var(--color-debug));
}

.log-info {
	color: oklch(var(--color-info));
}

.log-warn {
	color: oklch(var(--color-warn));
}

.log-danger {
	color: oklch(var(--color-danger));
}

.log-message {
	grid-area: message;
	font-size: 0.9rem;
}
