/*
SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>

SPDX-License-Identifier: Apache-2.0
*/

.layout {
	position: absolute;
	inset: 0;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: minmax(0, 1fr) max-content;
	grid-template-areas: "body" "menu";
}

.menu {
	grid-area: menu;
}

.body {
	grid-area: body;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}

.code {
	font-family: var(--font-mono);
}

@media (orientation: landscape) {
	.layout {
		grid-template-columns: max-content minmax(0, 1fr);
		grid-template-rows: 100%;
		grid-template-areas: "menu body";
	}
}
