# SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0

# What: Timer files.
#  Why: These are binary files and should not have to checked-in.
#       Use in-memory database or create on-demand for testings.
*.ptimer

# What: Node.js' dependency directory
#  Why: Filesize is unnecessary large. Also it might include platform dependent files
#       such as executables and caches.
node_modules

# What: Built files goes here
#  Why: Checking-in built files causes sync problem between built files and source files.
/dist

# What: BEAM (VM) files.
#  Why: These are temporary or garbage files.
*.beam
*.ez
erl_crash.dump

# What: Gleam build artifacts.
#  Why: This directory contains build files and environment specific intermediate
#       files.
/build

# What: Built Storybook files (default location).
/storybook-static
