/*
 * SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.builder--form {
	display: flex;
	flex-direction: column;
	gap: calc(var(--timer-px-spacing) * 8);
	height: 100dvh;
	width: 100vw;
	overflow-y: auto;
	scroll-margin-bottom: calc(var(--timer-px-spacing) * 2 + 1.5rem);
}

.builder--section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: calc(var(--timer-px-spacing) * 2);
	padding: calc(var(--timer-px-spacing) * 4);
}

.builder--section--title {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: var(--timer-em-spacing);

	text-align: center;
}

.builder--field {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: calc(var(--timer-px-spacing) * 0.5);
}

.builder--field > label {
	font-size: 0.9rem;

	color: oklch(var(--timer-ui-fg) / 80%);
}

.builder--field > input, .builder--field > select {
	border: 1px solid oklch(var(--timer-ui-fg) / 40%);
	padding: calc(var(--timer-px-spacing) * 0.5) var(--timer-px-spacing);

	border-radius: calc(var(--timer-px-spacing) * 0.5);
}
.builder--field > select {
	cursor: pointer;
	user-select: none;
}
.builder--field > input:invalid {
	border-color: oklch(var(--timer-ui-error));
}
.builder--field > input:focus-visible, .builder--field > select:focus-visible {
	border-color: oklch(var(--timer-highlight));
	box-shadow: 0 0 0 var(--timer-ring-size) oklch(var(--timer-highlight) / var(--timer-ring-alpha));
}

.builder--field--caret {
	--_size: calc(var(--timer-px-spacing) * 0.7);

	box-sizing: border-box;
	position: absolute;
	display: block;
	width: var(--_size);
	height: var(--_size);
	bottom: calc(var(--timer-px-spacing) * 0.8);
	right: var(--timer-px-spacing);
	border: var(--_size) solid transparent;
	border-top-color: currentColor;

	pointer-events: none;

	transform: scaleX(0.8);
}

.builder--grid {
	align-self: stretch;
	display: grid;
	grid-template-columns: repeat(auto-fit, min(20rem, calc(100vw - var(--timer-px-spacing) * 2)));
	gap: calc(var(--timer-px-spacing) * 4) calc(var(--timer-px-spacing) * 2);
	justify-content: center;
}

.builder--grid--cell {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: calc(var(--timer-px-spacing) * 2);
	padding: var(--timer-px-spacing) calc(var(--timer-px-spacing) * 2);
}

.builder--grid--cell--dragging {
	opacity: 0.5;
}

.builder--grid--cell--dragover::after {
	content: "";
	position: absolute;
	top: 0;
	right: calc(var(--timer-px-spacing) * -1.5);
	border: 1px solid oklch(var(--timer-ui-fg) / 60%);
	width: var(--timer-px-spacing);
	height: 100%;

	background-color: oklch(var(--timer-ui-fg) / 10%);
	border-radius: calc(var(--timer-px-spacing) * 0.3);
}
.builder--grid--cell--dragover > * {
	pointer-events: none;
}

.builder--grid--cell--append {
	justify-content: center;

	background-color: transparent;
}

.builder--step--header {
	display: flex;
	justify-content: space-between;
	gap: var(--timer-px-spacing);

	cursor: grab;
}

.builder--step--header--draggable {
	color: oklch(var(--timer-ui-fg) / 70%);
}

.builder--delete {
	display: inline-flex;
	padding: var(--timer-px-spacing);
	border: 1px solid oklch(var(--timer-ui-error));

	border-radius: calc(var(--timer-px-spacing) * 0.5);
	color: oklch(var(--timer-ui-error));
	cursor: pointer;
}
.builder--delete:hover {
	background-color: oklch(var(--timer-ui-fg) / 5%);
}
.builder--delete:focus-visible {
	box-shadow: 0 0 0 var(--timer-ring-size) oklch(var(--timer-ui-error) / var(--timer-ring-alpha));
}

.builder--spacer {
	flex: 1;
}

.builder--actions {
	position: sticky;
	bottom: 0;
	padding: var(--timer-px-spacing);
	align-self: stretch;
	display: flex;
	justify-content: center;
	gap: var(--timer-px-spacing);

	background-color: oklch(var(--timer-ui-bg));
	box-shadow: 0 -1px 2px oklch(0% 0% 0deg / 10%);
}

.builder--errors {
	position: absolute;
	top: var(--timer-px-spacing);
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: var(--timer-px-spacing);

	pointer-events: none;
}
.builder--errors:empty {
	display: none;
}

.builder--errors--item {
	min-width: min(15rem, 50vw);
	display: inline-flex;
	flex-direction: column;
	gap: calc(var(--timer-px-spacing) * 0.5);
	font-size: 0.9rem;
	padding: var(--timer-px-spacing);

	background-color: oklch(var(--timer-ui-error));
	border-radius: calc(var(--timer-px-spacing) * 0.5);
	box-shadow: 0 1px 3px oklch(0% 0% 0deg / 0.1);
	color: oklch(var(--timer-ui-bg));
	pointer-events: all;
}

.builder--errors--item--dismiss {
	align-self: end;
	font-size: 0.8rem;

	color: oklch(var(--timer-ui-bg) / 0.9);
	cursor: pointer;
}
.builder--errors--item--dismiss:focus-visible, .builder--errors--item--dismiss:hover {
	text-decoration: underline;
}
