/*
 * SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.player-menu--root {
	position: absolute;
	top: var(--timer-px-spacing);
	right: var(--timer-px-spacing);
	padding: calc(var(--timer-px-spacing) * 0.5);
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	gap: calc(var(--timer-px-spacing) * 0.5);

	background-color: oklch(var(--timer-ui-bg));
	border-radius: calc(var(--timer-px-spacing) * 0.5);
	box-shadow: 1px 1px 3px oklch(0% 0% 0deg / 0.2);
}

@media (prefers-color-scheme: dark) {
	.player-menu--root {
		--_lightness: calc(var(--timer-ui-bg-lightness) * 0.85 + var(--timer-ui-fg-lightness) * 0.15);
		background-color: oklch(var(--_lightness) var(--timer-ui-bg-chroma) var(--timer-ui-bg-hue));
	}
}

.player-menu--button {
	display: inline-flex;
	aspect-ratio: 1 / 1;
	padding: var(--timer-px-spacing);

	border-radius: calc(var(--timer-px-spacing) * 0.5);
	cursor: pointer;
}
.player-menu--button:hover {
	background-color: oklch(var(--timer-ui-fg) / 0.2);
}
.player-menu--button:disabled {
	color: oklch(var(--timer-ui-fg) / 0.6);
	cursor: not-allowed;
}
