/*
SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>

SPDX-License-Identifier: Apache-2.0
*/

.form {
	width: 100%;
	max-width: 50rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: calc(1rem + 16px);
	padding: 12px 24px;
}

.link {
	border-radius: 2px;
	cursor: pointer;
	text-decoration: underline;
}
.link:focus-visible {
	text-decoration-color: oklch(var(--color-focus));
	box-shadow: 0 0 0 var(--length-focus-ring) oklch(var(--color-focus) / var(--alpha-focus-ring));
}
