# SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0

# What: Built executable.
#  Why: This is binary file and shouldn't be checked-in.
#       While the intended path is `ptimer.app/Contents/MacOS/ptimer`,
#       I included only filename, because when someone runs `go build`
#       that would generate `./ptimer` file.
ptimer
