/*
SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>

SPDX-License-Identifier: Apache-2.0
*/

.container {
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 0 16px;
}

.list {
	display: flex;
	flex-direction: column;
}

.item {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 24px 0;
	border-bottom: 1px solid oklch(var(--color-border) / var(--alpha-border-subtle));
}

.item-footer {
	display: flex;
	justify-content: end;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px 16px;
}

.audio-preview {
	display: none;
}
