/*
SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>

SPDX-License-Identifier: Apache-2.0
*/

.button {
	display: inline-flex;
	justify-content: center;
	font-size: 1rem;
	padding: 6px 24px;
	border: 1px solid;

	border-radius: 18px;
	cursor: pointer;

	text-align: center;
}

@media (pointer: coarse) {
	.button {
		padding: 10px 24px;
		border-radius: 24px;
	}
}

.primary {
	background-color: oklch(var(--color-accent-bg));
	border-color: oklch(var(--color-accent-bg));
	color: oklch(var(--color-accent-fg));
}

.normal {
	border-color: oklch(var(--color-border) / 0.5);
}
