/*
SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>

SPDX-License-Identifier: Apache-2.0
*/

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	font-size: 1rem;
	border: 1px solid;

	cursor: pointer;

	text-align: center;
}

.icon {
	font-size: 1.05em;
	display: inline-flex;
}

.primary {
	background-color: oklch(var(--color-accent-bg));
	border-color: oklch(var(--color-accent-bg));
	color: oklch(var(--color-accent-fg));
}

.normal {
	border-color: oklch(var(--color-border) / 0.5);
}

.medium {
	padding: 6px 24px;

	border-radius: 18px;
}

.small {
	font-size: 0.9rem;
	padding: 6px 12px;

	border-radius: 10px;
}

@media (pointer: coarse) {
	.medium {
		padding: 10px 24px;
		border-radius: 24px;
	}

	.small {
		padding: 8px 12px;
	}
}
