/*
SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>

SPDX-License-Identifier: Apache-2.0
*/

.button {
	--_alpha: 1;
	--_tint-l: 0%;
	--_tint-c: 0%;

	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	font-size: 1rem;
	border: 1px solid;

	cursor: pointer;

	text-align: center;
}
.disabled, .loading {
	--_alpha: var(--alpha-disabled);
}
.disabled {
	cursor: not-allowed;
}
.loading {
	cursor: wait;
}
.button:not(.disabled, .loading):hover {
	--_tint-l: var(--tint-hover-l);
	--_tint-c: var(--tint-hover-c);
}
.button:not(.disabled, .loading):active {
	--_tint-l: var(--tint-pressed-l);
	--_tint-c: var(--tint-pressed-c);
}
.button:focus-visible, .button:has(:focus-visible) {
	border-color: oklch(var(--color-focus));
	box-shadow: 0 0 0 var(--length-focus-ring) oklch(var(--color-focus) / var(--alpha-focus-ring));
}

.icon {
	font-size: 1.05em;
	display: inline-flex;
}

.primary {
	background-color: oklch(
		calc(var(--color-accent-bg-l) + var(--_tint-l))
		calc(var(--color-accent-bg-c) + var(--_tint-c))
		var(--color-accent-bg-h)
		/
		var(--_alpha)
	);
	border-color: oklch(var(--color-accent-bg));
	color: oklch(var(--color-accent-fg) / var(--_alpha));
}

.normal {
	--_overlay-bg-alpha: 0;

	background-color: oklch(
		calc(var(--color-bg0-l) + var(--_tint-l))
		calc(var(--color-bg0-c) + var(--_tint-c))
		var(--color-accent-bg-h)
		/
		calc(var(--_alpha) * var(--_overlay-bg-alpha))
	);
	border-color: oklch(var(--color-border) / var(--alpha-border-strong));
	color: oklch(var(--color-fg) / var(--_alpha));
}
.normal:not(.disabled, .loading):hover, .normal:not(.disabled, .loading):active {
	--_overlay-bg-alpha: 1;
}

.medium {
	padding: 6px 24px;

	border-radius: 18px;
}

.small {
	font-size: 0.9rem;
	padding: 6px 12px;

	border-radius: 10px;
}

@media (pointer: coarse) {
	.medium {
		padding: 10px 24px;
		border-radius: 24px;
	}

	.small {
		padding: 8px 12px;
	}
}

.visually-hidden {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	user-select: none;
	opacity: 0;
}
