/*
SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>

SPDX-License-Identifier: Apache-2.0
*/

.menu {
	display: flex;
	border-top: 1px solid oklch(var(--color-border) / var(--alpha-border-subtle));

	background-color: oklch(var(--color-bg1));
	color: oklch(var(--color-fg));
}

.list {
	flex: 1;
	display: flex;
	padding: 8px 12px;
	gap: 2px 16px;
	justify-content: start;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.item {
	--_item-padding-x: 4px;
	--_item-padding-y: 4px;
	--_item-icon-size: 1.2rem;
	--_item-label-size: 0.6rem;
	--_item-gap: 4px;
	--_item-width: calc(var(--_item-padding-x) * 2 + 3rem);
	--_item-height: calc(
		var(--_item-padding-y) * 2 + var(--_item-gap) + var(--_item-icon-size) + var(--_item-label-size)
	);

	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: var(--_item-width);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--_item-gap);
	padding: var(--_item-padding-y) var(--_item-padding-x);
	border: 1px solid transparent;

	border-radius: 3px;
	cursor: pointer;
}
@media (pointer: coarse) {
	.item {
		--_item-padding-x: 6px;
		--_item-padding-y: 6px;
	}
}
.item:hover {
	background-color: oklch(99% 5% var(--color-info-h) / 15%);
}
.item:focus-visible {
	border-color: oklch(var(--color-focus));
	box-shadow: 0 0 0 var(--length-focus-ring) oklch(var(--color-focus) / var(--alpha-focus-ring));
}

.item-active, .item-active:hover {
	background-color: oklch(var(--color-highlight-bg));
	color: oklch(var(--color-highlight-fg));
}

.item-icon {
	font-size: var(--_item-icon-size);
	display: inline-flex;
}

.item-label {
	font-size: var(--_item-label-size);
}

@media (orientation: landscape) {
	.menu {
		border-top: none;
		border-right: 1px solid oklch(var(--color-border) / var(--alpha-border-subtle));
	}

	.list {
		flex-direction: column;
		justify-content: start;
		gap: 16px 2px;
		padding: 8px;
	}

	.item {
		flex-basis: var(--_item-height);
		flex: 0 0 auto;
	}
}
