/*
SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>

SPDX-License-Identifier: Apache-2.0
*/

.textbox {
	--_fg-alpha: 100%;

	display: inline-block;
	padding: 6px 12px;
	border: 1px solid oklch(var(--color-border) / var(--alpha-border-medium));

	border-radius: 6px;
	box-shadow: inset 0 0 3px oklch(var(--color-border) / var(--alpha-border-shadow));
	color: oklch(var(--color-fg) / var(--_fg-alpha));
}

.textbox:focus-visible {
	border-color: oklch(var(--color-focus));
	box-shadow: 0 0 0 var(--length-focus-ring) oklch(var(--color-focus) / var(--alpha-focus-ring));
}

.textbox[aria-invalid="true"] {
	border-color: oklch(var(--color-danger));
}
.textbox[aria-invalid="true"]:focus-visible {
	box-shadow: 0 0 0 var(--length-focus-ring) oklch(var(--color-danger) / var(--alpha-focus-ring));
}

.textbox:disabled {
	--_fg-alpha: var(--alpha-disabled);

	cursor: not-allowed;
}

.multiline {
	white-space: pre-wrap;
}

.resizable-y {
	resize: vertical;
}
