/*
 * SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@import "@fontsource-variable/inter";

:root {
	--font-sans: "Inter Variable", sans-serif;
	--font-mono: monospace;

	--hue: 260deg;
	--chroma: 3%;

	--color-bg-l: 99%;
	--color-bg: var(--color-bg-l) var(--chroma) var(--hue);

	--color-fg-l: 25%;
	--color-fg: var(--color-fg-l) var(--chroma) var(--hue);

	/* approx. Plastic ratio */
	--scale: calc(53 / 40);

	--space-px-md: 8px;
	--space-px-sm: calc(var(--space-px-md) / var(--scale));
	--space-px-xs: calc(var(--space-px-sm) / var(--scale));
	--space-px-2xs: calc(var(--space-px-xs) / var(--scale));
	--space-px-3xs: calc(var(--space-px-2xs) / var(--scale));
	--space-px-lg: calc(var(--space-px-md) * var(--scale));
	--space-px-xl: calc(var(--space-px-lg) * var(--scale));

	--text-md: 1rem;
	--text-sm: calc(var(--text-md) / var(--scale));
	--text-xs: calc(var(--text-sm) / var(--scale));
	--text-lg: calc(var(--text-md) * var(--scale));
	--text-xl: calc(var(--text-lg) * var(--scale));

	--radii-md: 6px;
	--radii-sm: calc(var(--radii-md) / var(--scale));

	--size-focus-ring: 3px;

	--alpha-text-dimmed: 60%;
	--alpha-action-border: 0%;
	--alpha-action-bg: 2%;
	--alpha-action-hover-bg: 5%;
	--alpha-action-active-bg: 15%;
	--alpha-focus-ring: 15%;
}

@media (prefers-contrast: more) {
	:root {
		--color-fg-l: 1%;

		--alpha-text-dimmed: 90%;
		--alpha-action-border: 100%;
		--alpha-action-bg: 1%;
		--alpha-action-hover-bg: 10%;
		--alpha-action-active-bg: 20%;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg-l: 15%;
		--color-fg-l: 90%;

		--alpha-text-dimmed: 80%;
		--alpha-action-bg: 5%;
		--alpha-action-hover-bg: 15%;
		--alpha-action-active-bg: 25%;
		--alpha-focus-ring: 40%;
	}
}

@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
	:root {
		--color-bg-l: 1%;
		--color-fg-l: 99%;

		--alpha-text-dimmed: 95%;
	}
}
