/*
 * SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@keyframes ripple {
	from {
		opacity: 1;
		transform: scale(0);
	}

	to {
		opacity: 0;
		transform: scale(1);
	}
}

.shared--button {
	position: relative;
	padding: var(--timer-px-spacing) calc(var(--timer-px-spacing) * 1.5);
	border: 1px solid oklch(var(--timer-ui-fg));
	font-size: 1rem;

	background-color: oklch(var(--timer-ui-fg));
	border-radius: calc(var(--timer-px-spacing) * 0.5);
	color: oklch(var(--timer-ui-bg));
	cursor: pointer;
	overflow: hidden;
}
.shared--button:focus-visible, .shared--button:has(:focus-visible) {
	border-color: oklch(var(--timer-highlight));
	box-shadow: 0 0 0 var(--timer-ring-size) oklch(var(--timer-highlight) / var(--timer-ring-alpha));
}
.shared--button::before, .shared--button::after {
	content: "";
	position: absolute;

	pointer-events: none;

	opacity: 0;
}
.shared--button::before {
	inset: 0;

	background-color: oklch(var(--timer-ui-bg) / 5%);
}
.shared--button::after {
	inset: 0;
	margin: auto;
	aspect-ratio: 1 / 1;

	background-color: oklch(var(--timer-ui-bg) / 20%);
	border-radius: 50%;
}
.shared--button:hover::before {
	opacity: 1;
}
.shared--button:active::after {
	animation: ripple 0.2s ease-out;
}
.shared--button:active {
	transform: scale(0.99);
}
.shared--button:disabled, .shared--button:has(:disabled) {
	background-color: oklch(var(--timer-ui-fg) / 0.5);
	border-color: oklch(var(--timer-ui-fg) / 0.2);
	color: oklch(var(--timer-ui-bg) / 0.4);
	cursor: not-allowed;

	transform: none;
}
.shared--button:disabled::before,
.shared--button:has(:disabled)::before,
.shared--button:disabled::after,
.shared--button:has(:disabled)::after {
	display: none;
}

label.shared--button > input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 0;

	opacity: 0;
}
