/*
 * SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

:where(body, body :not(svg, svg *)) {
	all: unset;
}

:root {
	font-family: sans-serif;
}

body {
	font-size: 1rem;
	line-height: 1.25;

	background-color: oklch(var(--timer-ui-bg));
	color: oklch(var(--timer-ui-fg));
}

.splash {
	--timer-splash-bg: 33% 44% var(--timer-hue-primary);
	--timer-splash-fg: 99% 11% var(--timer-hue-secondary);
	--timer-splash-error: 48% 70% var(--timer-hue-error);

	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: calc(var(--timer-em-spacing) * 4);

	background-color: oklch(var(--timer-splash-bg));
	color: oklch(var(--timer-splash-fg));
}

.splash-title {
	font-weight: bold;
}

.splash-load-items {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 30rem;
}

.splash-load-item {
	display: flex;
	flex-direction: column;
	gap: calc(var(--timer-px-spacing) * 0.5);
	border-block: 1px dashed oklch(var(--timer-splash-fg) / 0.1);
	padding-block: var(--timer-em-spacing);
}
.splash-load-item + .splash-load-item {
	padding-block-start: var(--timer-em-spacing);
	border-block-start: none;
}

.splash-load-item--label {
	font-size: 0.8rem;
	font-weight: bold;

	color: oklch(var(--timer-splash-fg) / 80%);
}

.splash-error {
	display: inline-flex;
	width: 100%;
	max-width: 30rem;
	flex-direction: column;
	gap: calc(var(--timer-em-spacing) * 1);

	background-color: oklch(88% 5% var(--timer-hue-secondary));
	box-shadow: 1px 1px 4px oklch(0% 0% 0deg / 0.1);
	color: oklch(1% 1% var(--timer-hue-error));
	border-radius: 3px;
	padding: var(--timer-px-spacing);
}
.splash-error:empty {
	display: none;
}

.splash-error--item {
	display: inline-flex;
	width: 100%;
	flex-direction: column;
	gap: calc(var(--timer-px-spacing) * 0.5);
}

.splash-error--item--label {
	font-size: 0.8rem;
	font-weight: bold;

	color: oklch(20% 90% var(--timer-hue-error));
}
