/*
 * SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.main--drop-overlay {
	display: block;
	position: fixed;
	inset: 0;
	padding: calc(var(--timer-px-spacing) * 2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: oklch(var(--timer-ui-bg) / 80%);
}
.main--drop-overlay * {
	pointer-events: none;
}
