/*
 * SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.player--layout {
	display: block;
	position: absolute;
	inset: 0;

	overflow: hidden;
}

.player--grid {
	--_width: min(calc(100vw - var(--timer-px-spacing) * 2), 25rem);

	position: absolute;
	inset: 0;
	display: grid;
	grid-template-columns: var(--_width);
	grid-template-rows: max-content;
	gap: calc(var(--timer-px-spacing) * 4);
	justify-content: center;
	align-content: center;

	overflow: hidden;

	transition: transform 0.15s ease-out;
}

.player--container {
	grid-column: 1;
	grid-row: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	gap: calc(var(--timer-px-spacing) * 2);
	width: 100%;
	min-height: min(80vh, 10rem);

	pointer-events: none;

	opacity: 0;
	transition: opacity 0.15s ease-in, transform 0.1s 0.15s linear;
	transform: translateX(100%);
}
.player--container:first-child {
	transform: translateY(-100%);
}
.player--container:last-child {
	transform: translateY(100%);
}
.player--container.active {
	pointer-events: initial;

	opacity: 1;
	transform: translate(0px, 0px);
	transition: opacity 0.15s 0.05s ease-out, transform 0.15s ease-out;
}

.player--spacer {
	flex-grow: 1;

	pointer-events: none;
}

.player--title {
	font-weight: bold;
	font-size: 1.2rem;
	line-height: 1.2;
}
