/*
 * SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

:root {
	--timer-hue-primary: 222deg;
	--timer-hue-secondary: calc(var(--timer-hue-primary) + 180deg);
	--timer-hue-error: 7deg;

	--timer-ui-bg-lightness: 97%;
	--timer-ui-bg-chroma: 1%;
	--timer-ui-bg-hue: var(--timer-hue-primary);
	--timer-ui-bg: var(--timer-ui-bg-lightness) var(--timer-ui-bg-chroma) var(--timer-ui-bg-hue);

	--timer-ui-fg-lightness: 2%;
	--timer-ui-fg-chroma: 10%;
	--timer-ui-fg-hue: var(--timer-hue-primary);
	--timer-ui-fg: var(--timer-ui-fg-lightness) var(--timer-ui-fg-chroma) var(--timer-ui-fg-hue);

	--timer-ui-error-lightness: 40%;
	--timer-ui-error-chroma: 80%;
	--timer-ui-error-hue: var(--timer-hue-error);
	--timer-ui-error: var(--timer-ui-error-lightness) var(--timer-ui-error-chroma) var(
		--timer-ui-error-hue
	);

	--timer-highlight-hue: var(--timer-hue-primary);
	--timer-highlight-lightness: 66%;
	--timer-highlight-chroma: 33%;
	--timer-highlight: var(--timer-highlight-lightness) var(--timer-highlight-chroma) var(
		--timer-highlight-hue
	);

	--timer-ring-size: 2px;
	--timer-ring-alpha: 28%;

	--timer-px-spacing: 8px;
	--timer-em-spacing: 0.5rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--timer-ui-bg-lightness: 5%;
		--timer-ui-bg-chroma: 5%;

		--timer-ui-fg-lightness: 98%;
		--timer-ui-fg-chroma: 1%;

		--timer-ui-error-lightness: 60%;

		--timer-highlight-lightness: 77%;
		--timer-highlight-chroma: 45%;

		--timer-ring-alpha: 36%;
	}
}
