# SPDX-FileCopyrightText: 2024 Shota FUJI <pockawoooh@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0

# What: Parcel's build cache directory
#  Why: It's not designed to be checked-in.
.parcel-cache

# What: Elm compiler's temporary directory
#  Why: It's not designed to be checked-in.
elm-stuff

# What: Built files goes here
#  Why: Checking-in built files causes sync problem between built files and source files.
dist
